@page
@model IndexModel
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="~/css/styles.css">
</head>
<body>
    <h1>Escape Room - Game 1</h1>
    <button id="start1BTN" onclick="startGame1()">Start als speler 1</button>
    <button id="start2BTN" onclick="startGame2()">Start als speler 2</button>
    <div id="gameScreen">
        <div id="gameArea1" style="display:none;">
            <div id="player"></div>
            <div class="wave" id="wave1"></div>
            <div class="wave" id="wave2"></div>
            <div id="fakeWave" style="display:none;"></div>
        </div>
   </div>

    <script src="@("https://cdn.jsdelivr.net/npm/@microsoft/signalr@8.0.7/dist/browser/signalr.min.js")"></script>
    <script src="~/js/game.js"></script>
</body>
</html>
