@page
@model WebApplication1.Pages.Index1Model
@{
    ViewData["Title"] = "Game 2";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/game2.css" />
        


</head>
<body>
    <div class="container">
        <h1>Lampjes spel</h1>

        <button id="player1Button" class="startButton" onclick="player1Start()">Start als speler 1</button>
        <button id="player2Button" class="startButton" onclick="player2Start()">Start als speler 2</button>

        <!-- Game Screen that will be shown/hidden -->
        <div id="gameScreen" style="display:none;">

            <!-- Game Area -->
            <div id="gameArea1" style="display:none;">
                <canvas id="light1" class="grid-item lightVersion1"></canvas>
                <img src="~/images/cirkel.png" id="shape1" class="grid-item shapeVersion1"></img>

                <canvas id="light2" class="grid-item lightVersion2"></canvas>
                <img src="~/images/driehoek.png" id="shape2" class="grid-item shapeVersion2"></img>

                <canvas id="light3" class="grid-item lightVersion3"></canvas>
                <img src="~/images/vierkant.png" id="shape3" class="grid-item shapeVersion3"></img>

                <canvas id="light4" class="grid-item lightVersion1"></canvas>
                <img src="~/images/cirkel.png" id="shape4" class="grid-item shapeVersion1"></img>

                <canvas id="light5" class="grid-item lightVersion4"></canvas>
                <img src="~/images/Letter M.png" id="shape5" class="grid-item shapeVersion4"></img>

                <canvas id="light6" class="grid-item lightVersion3"></canvas>
                <img src="~/images/vierkant.png" id="shape6" class="grid-item shapeVersion3"></img>

                <canvas id="light7" class="grid-item lightVersion4"></canvas>
                <img src="~/images/Letter M.png" id="shape7" class="grid-item shapeVersion4"></img>

                <canvas id="light8" class="grid-item lightVersion2"></canvas>
                <img src="~/images/driehoek.png" id="shape8" class="grid-item shapeVersion2"></img>

                <canvas id="light9" class="grid-item lightVersion4"></canvas>
                <img src="~/images/Letter M.png" id="shape9" class="grid-item shapeVersion4"></img>

                <canvas id="light10" class="grid-item lightVersion3"></canvas>
                <img src="~/images/vierkant.png" id="shape10" class="grid-item shapeVersion3"></img>

            </div>
            <div id="gameArea2" style="display:none;">
                <button type="button"  onclick="shapePressed(0)">
                    <img src ="~/images/cirkel.png" />
                </button>
                <button type="button" onclick="shapePressed(1)">
                    <img src ="~/images/vierkant.png" />
                </button>
                <button type="button" onclick="shapePressed(2)">
                    <img src ="~/images/driehoek.png" />
                </button>
                <button type="button" onclick="shapePressed(3)">
                    <img src ="~/images/Letter M.png" />
                </button>
            </div>
            <div id ="liveContainer">
                @for (int i = 0; i < 3; i++)
                {
                        <img src="~/images/heart.png" alt="Life" class="life" />
                }
            </div>

        </div>
        <p>Click the "Start Game" button to reveal the game screen and start interacting.</p>
    </div>
    <script src="@("https://cdn.jsdelivr.net/npm/@microsoft/signalr@8.0.7/dist/browser/signalr.min.js")"></script>
    <script src="~/js/game2.js"></script>
</body>
</html>
