@page
@model WebApplication1.Pages.Index1Model
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="~/css/game3.css">
</head>
<body>
    <div id="timerBox">
        00:00:00
    </div>


    <div id="gameArea4">
        <img src="~/images/Switch_Clean.png" id="picture1"/>
   </div>
   <div id="gameArea5">
       <img src="~/images/Vlan voorbeelden.png" id="picture2"/>
       <img src="~/images/IP adressen.png" id="picture3"/>
   </div>

    <script src="~/js/game3.js"></script>
    <script src="@("https://cdn.jsdelivr.net/npm/@microsoft/signalr@8.0.7/dist/browser/signalr.min.js")"></script>
</body>
</html>
