@page
@model IndexModel
@{
   
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="~/css/styles.css?v=1">
    <link rel="stylesheet" href="~/css/game2.css?v=1">
    <link rel="stylesheet" href="~/css/game3.css">
    <link rel="stylesheet" href="~/css/game4.css">
</head>
<body>
    <div id="timerBox">
        00:00:00
    </div>
    <div id="timePenalty" style="visibility:hidden;">
        +10 seconden
    </div>

    <h1>Escape Room</h1>
    <button id="start1BTN" onclick="startGame1()">Start als speler 1</button>
    <button id="start2BTN" onclick="startGame2()">Start als speler 2</button>
    <button id="nextGameBTN" style="display:none;"> Naar volgend level</button>
    <button id="victoryMessage" style="display:none;"> level gehaald</button>
    <div id="gameScreen">
        <div id="gameArea1" style="display:none;">
            <div id="player"></div>
            <div class="wave" id="wave1"></div>
            <div class="wave" id="wave2"></div>
            <div id="fakeWave" style="display:none;"></div>
        </div>

         <div id="gameArea2" style="display:none;">
                <canvas id="light1" class="grid-item lightVersion1"></canvas>
                <img src="~/images/cirkel.png" id="shape1" class="grid-item shapeVersion1"></>

                <canvas id="light2" class="grid-item lightVersion2"></canvas>
                <img src="~/images/driehoek.png" id="shape2" class="grid-item shapeVersion2"></>

                <canvas id="light3" class="grid-item lightVersion3"></canvas>
                <img src="~/images/vierkant.png" id="shape3" class="grid-item shapeVersion3"></>

                <canvas id="light4" class="grid-item lightVersion1"></canvas>
                <img src="~/images/cirkel.png" id="shape4" class="grid-item shapeVersion1"></>

                <canvas id="light5" class="grid-item lightVersion4"></canvas>
                <img src="~/images/Letter M.png" id="shape5" class="grid-item shapeVersion4"></>

                <canvas id="light6" class="grid-item lightVersion3"></canvas>
                <img src="~/images/vierkant.png" id="shape6" class="grid-item shapeVersion3"></>

                <canvas id="light7" class="grid-item lightVersion4"></canvas>
                <img src="~/images/Letter M.png" id="shape7" class="grid-item shapeVersion4"></>

                <canvas id="light8" class="grid-item lightVersion2"></canvas>
                <img src="~/images/driehoek.png" id="shape8" class="grid-item shapeVersion2"></>

                <canvas id="light9" class="grid-item lightVersion4"></canvas>
                <img src="~/images/Letter M.png" id="shape9" class="grid-item shapeVersion4"></>

                <canvas id="light10" class="grid-item lightVersion3"></canvas>
                <img src="~/images/vierkant.png" id="shape10" class="grid-item shapeVersion3"></>

            </div>
            <div id="gameArea3" style="display:none;">
                <button id="shapeBTN1" type="button"  onclick="shapePressed(0)">
                    <img src ="~/images/cirkel.png" />
                </button>
            <button id="shapeBTN2" type="button" onclick="shapePressed(1)">
                    <img src ="~/images/vierkant.png" />
                </button>
            <button id="shapeBTN3" type="button" onclick="shapePressed(2)">
                    <img src ="~/images/driehoek.png" />
                </button>
            <button id="shapeBTN4" type="button" onclick="shapePressed(3)">
                    <img src ="~/images/Letter M.png" />
                </button>

                <button id="TurnLightOnBTN" onclick="turnOnLights()">

                </button>

                <canvas id="exampleLight1"></canvas>

                <canvas id="exampleLight2"></canvas>
            </div>
        <div id="gameArea4">
            <button id="arrowLeft" onclick="goToPreviousQuestion()">
                <img src="~/images/Pijl.png" />
            </button>

            <!-- VRAAG 1 -->
            <div id="question1">
                <h1>Vraag 1</h1>
                <p class="questionText">Welk antwoord moet ingevuld worden in plaats van de ? om 10 als antwoord te krijgen</p>
                <div class="codeWrapper">
                    <pre><code>
function addNumbers(a, b) {
    return a + b;
}
let number = addNumbers(?)
console.log(number);
            </code></pre>
                </div>
                <div class="questionButtons">
                    <button>4, 3</button>
                    <button>5 5</button>
                    <button>2, 8</button>
                </div>
            </div>

            <!-- VRAAG 2 -->
            <div id="question2" style="display:none;">
                <h1>Vraag 2</h1>
                <p class="questionText">Hoe vaak wordt hallo geprint?</p>
                <div class="codeWrapper">
                    <pre><code>
const lijstMetWoorden = ["huisje", "boompje", "beestje"];

function LoopDoorLijst(lijst) {
    for (let i = 0; i < lijst.Count; i++) {
        console.log("hallo");
    }
}
LoopDoorLijst(lijstMetWoorden);
            </code></pre>
                </div>
                <div class="questionButtons">
                    <button>3</button>
                    <button>2</button>
                    <button>4</button>
                </div>
            </div>

            <!-- VRAAG 3 -->
            <div id="question3" style="display:none;">
                <h1>Vraag 3</h1>
                <p class="questionText">Welke waardes zorgen dat de if-statement uitgevoerd wordt?</p>
                <div class="codeWrapper">
                    <pre><code>
function CheckNumbers(a, b) {
    if (a > b) {
        console.log("juiste antwoord");
    }
}
CheckNumbers(?);
            </code></pre>
                </div>
                <div class="questionButtons">
                    <button>2, 2</button>
                    <button>7, 4</button>
                    <button>6 3</button>
                </div>
                <button onclick="checkAwnsers()">Controleer Antwoorden</button>
            </div>

            <button id="arrowRight" onclick="goToNextQuestion()">
                <img src="~/images/Pijl.png" />
            </button>
        </div>

            <div id="gameArea5">
                <img src="~/images/game3.png" />
            </div>
            <div id="gameArea6">
                <svg id="SVGlines"></svg>

        <div id="switch_box">
            <div id="switch">
                <img src="~/images/Switch_Clean.png" />

                <input type="text" class="port-label port1-label" placeholder="VLAN 181" />
                <div class="portzone port1" data-port="1"></div>

                <input type="text" class="port-label port2-label" placeholder="VLAN 32" />
                <div class="portzone port2" data-port="2"></div>

                <input type="text" class="port-label port3-label" placeholder="VLAN 112" />
                <div class="portzone port3" data-port="3"></div>

                <input type="text" class="port-label port4-label" placeholder="VLAN 20" />
                <div class="portzone port4" data-port="4"></div>

                <input type="text" class="port-label port5-label" placeholder="VLAN 32" />
                <div class="portzone port5" data-port="5"></div>

                <input type="text" class="port-label port6-label" placeholder="VLAN 181" />
                <div class="portzone port6" data-port="6"></div>

                <input type="text" class="port-label port7-label" placeholder="VLAN 20" />
                <div class="portzone port7" data-port="7"></div>

                <input type="text" class="port-label port8-label" placeholder="VLAN 112" />
                <div class="portzone port8" data-port="8"></div>
            </div>
            <div id="computer1" class="device">
                <img src="~/images/Computer.png" />
                <input type="text" class="ip-input" placeholder="192.168.20.111" />
            </div>
            <div id="computer2" class="device">
                <img src="~/images/Computer.png" />
                <input type="text" class="ip-input" placeholder="192.168.181.243" />
            </div>
            <div id="computer3" class="device">
                <img src="~/images/Computer.png" />
                <input type="text" class="ip-input" placeholder="192.168.32.94" />
            </div>
            <div id="computer4" class="device">
                <img src="~/images/Computer.png" />
                <input type="text" class="ip-input" placeholder="192.168.112.24" />
            </div>
            <div id="laptop1" class="device">
                <img src="~/images/Laptop.png" />
                <input type="text" class="ip-input" placeholder="192.168.181.5" />
            </div>
            <div id="laptop2" class="device">
                <img src="~/images/Laptop.png" />
                <input type="text" class="ip-input" placeholder="192.168.20.66" />
            </div>
            <div id="laptop3" class="device">
                <img src="~/images/Laptop.png" />
                <input type="text" class="ip-input" placeholder="192.168.32.126" />
            </div>
            <div id="laptop4" class="device">
                <img src="~/images/Laptop.png" />
                <input type="text" class="ip-input" placeholder="192.168.112.173" />
            </div>
    </div>
            </div>
            
   </div>
    <div id="levelCompleteBlock">
        <p id="levelCompleteText">
            Gefeliciteerd, je hebt het level gehaald in :
        <p id="levelCompleteTime">
        </p>
        </p>
       
    </div>

    <script src="@("https://cdn.jsdelivr.net/npm/@microsoft/signalr@8.0.7/dist/browser/signalr.min.js")"></script>
   
    <script src="~/js/game.js"></script>
    <script src="~/js/game2.js"></script>
    <script src="~/js/game3.js"></script>
    <script src="~/js/game4.js"></script>
    

</body>
</html>
