@page
@model IndexModel
@{
   
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="~/css/styles.css?v=1">
    <link rel="stylesheet" href="~/css/game2.css?v=1">
    <link rel="stylesheet" href="~/css/game3.css">
</head>
<body>
    <div id="timerBox">
        00:00:00
    </div>
    <div id="timePenalty" style="visibility:hidden;">
        +10 seconden
    </div>

    <h1>Game 1</h1>
    <button id="start1BTN" onclick="startGame1()">Start als speler 1</button>
    <button id="start2BTN" onclick="startGame2()">Start als speler 2</button>
    <button id="nextGameBTN" style="display:none;"> Naar volgend level</button>
    <button id="victoryMessage" style="display:none;"> level gehaald</button>
    <div id="gameScreen">
        <div id="gameArea1" style="display:none;">
            <div id="player"></div>
            <div class="wave" id="wave1"></div>
            <div class="wave" id="wave2"></div>
            <div id="fakeWave" style="display:none;"></div>
        </div>

         <div id="gameArea2" style="display:none;">
                <canvas id="light1" class="grid-item lightVersion1"></canvas>
                <img src="~/images/cirkel.png" id="shape1" class="grid-item shapeVersion1"></>

                <canvas id="light2" class="grid-item lightVersion2"></canvas>
                <img src="~/images/driehoek.png" id="shape2" class="grid-item shapeVersion2"></>

                <canvas id="light3" class="grid-item lightVersion3"></canvas>
                <img src="~/images/vierkant.png" id="shape3" class="grid-item shapeVersion3"></>

                <canvas id="light4" class="grid-item lightVersion1"></canvas>
                <img src="~/images/cirkel.png" id="shape4" class="grid-item shapeVersion1"></>

                <canvas id="light5" class="grid-item lightVersion4"></canvas>
                <img src="~/images/Letter M.png" id="shape5" class="grid-item shapeVersion4"></>

                <canvas id="light6" class="grid-item lightVersion3"></canvas>
                <img src="~/images/vierkant.png" id="shape6" class="grid-item shapeVersion3"></>

                <canvas id="light7" class="grid-item lightVersion4"></canvas>
                <img src="~/images/Letter M.png" id="shape7" class="grid-item shapeVersion4"></>

                <canvas id="light8" class="grid-item lightVersion2"></canvas>
                <img src="~/images/driehoek.png" id="shape8" class="grid-item shapeVersion2"></>

                <canvas id="light9" class="grid-item lightVersion4"></canvas>
                <img src="~/images/Letter M.png" id="shape9" class="grid-item shapeVersion4"></>

                <canvas id="light10" class="grid-item lightVersion3"></canvas>
                <img src="~/images/vierkant.png" id="shape10" class="grid-item shapeVersion3"></>

            </div>
            <div id="gameArea3" style="display:none;">
                <button id="shapeBTN1" type="button"  onclick="shapePressed(0)">
                    <img src ="~/images/cirkel.png" />
                </button>
            <button id="shapeBTN2" type="button" onclick="shapePressed(1)">
                    <img src ="~/images/vierkant.png" />
                </button>
            <button id="shapeBTN3" type="button" onclick="shapePressed(2)">
                    <img src ="~/images/driehoek.png" />
                </button>
            <button id="shapeBTN4" type="button" onclick="shapePressed(3)">
                    <img src ="~/images/Letter M.png" />
                </button>

                <canvas id="exampleLight1"></canvas>

                <canvas id="exampleLight2"></canvas>
            </div>
            <div id="gameArea4">
                <button id ="arrowLeft" onclick="goToPreviousQuestion()">
                    <img src="~/images/Pijl.png" />
                </button>
                <div id ="question1">
                    <h1> Vraag 1</h1>
  <p class ="questionText">Welk antwoord moet ingevuld worden in plaats van de ? om 10 als antwoord te krijgen</p>

  <pre class ="questionText" id="text1"><code>
      function addNumbers(a, b) { 
          return a + b; 
          }
      let number = addNumbers(?)
      console.log(number);
  </code>     
  </pre> 
  <button>4, 3</button>
  <button>5 5</button>
  <button>2, 8</button>
                </div>
                <div id ="question2" style="display:none">
                    <h1> Vraag 2</h1>
  <p id ="">Hoe vaak wordt hallo geprint ?</p>

  <pre id="text2"><code>
      const lijstMetWoorden = ["huisje", "boompje", "beestje"];

      function LoopDoorLijst(lijst) { 
          for(let i = 0; i &lt lijst.Count; i++){
              console.log("hallo");
          }
      }   
      LoopDoorLijst(lijstMetWoorden);
  </code>     
  </pre> 
  <button>3</button>
  <button>2</button>
  <button>4</button>
                </div>
                <div id ="question3" style="display:none">
                    <h1> Vraag 3</h1>
  <p id ="">Om een funcie uit te voeren alleen wanneer een bepaalde voorwaarde is voldaan wordt een if-statement gebruikt.
      Welke waardes moet ingevuld worden om de statement compleet te maken ?
  </p>

  <pre id="text3"><code>
      function CheckNumbers(a, b){
          if(a &gt b){
          console.log("juiste antwoord");
      }
      }
      CheckNumbers(?);     
  </code>     
  </pre> 
  <button>2, 2</button>
  <button>7, 4</button>
  <button>6 3</button>
  <br />
  <button>Controller Antwoorden</button>
                </div>
                    <button id ="arrowRight" onclick="goToNextQuestion()">
                        <img src="~/images/Pijl.png" />
                    </button>
            </div>
            <div id="gameArea5">

            </div>
   </div>


    <script src="@("https://cdn.jsdelivr.net/npm/@microsoft/signalr@8.0.7/dist/browser/signalr.min.js")"></script>
   
    <script src="~/js/game.js"></script>
    <script src="~/js/game2.js"></script>
    <script src="~/js/game3.js"></script>
    

</body>
</html>
