@page
@model WebApplication1.Pages.Index1Model
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="~/css/game3.css">
</head>
<body>
    <div id="timerBox">
        00:00:00
    </div>

    <div id="switch_box">
        <div id="switch">
            <img src="~/images/Switch_Clean.png" />
        </div>
        <div id="computer1" class="device">
            <img src="~/images/Computer.png" />
        </div>
        <div id="computer2" class="device">
            <img src="~/images/Computer.png" />
        </div>
        <div id="computer3" class="device">
            <img src="~/images/Computer.png" />
        </div>
        <div id="computer4" class="device">
            <img src="~/images/Computer.png" />
        </div>
        <div id="laptop1" class="device">
            <img src="~/images/Laptop.png" />
        </div>
        <div id="laptop2" class="device">
            <img src="~/images/Laptop.png" />
        </div>
        <div id="laptop3" class="device">
            <img src="~/images/Laptop.png" />
        </div>
        <div id="laptop4" class="device">
            <img src="~/images/Laptop.png" />
        </div>
    </div>


    <script src="~/js/game3.js"></script>
    <script src="@("https://cdn.jsdelivr.net/npm/@microsoft/signalr@8.0.7/dist/browser/signalr.min.js")"></script>
</body>
</html>
