
#gameArea4 {
    position: relative;
    width: 100%;
    height: 400px;
    margin: 20px auto;
    background-color: #e0e0e0;
    border: 1px solid #333;
    overflow: hidden;
    display: none;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 1fr;
}
#gameArea5 {
    position: relative;
    width: 100%;
    height: 400px;
    margin: 20px auto;
    background-color: #e0e0e0;
    border: 1px solid #333;
    overflow: hidden;
    display: none;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
}
.questionText{
    background-color:black
}
#question1, #question2, #question3 {
    position: relative;
    width: 100%;
    height: 400px;
    margin: 20px auto;
    background-color: #e0e0e0;
    border: 1px solid #333;
    overflow: hidden;
    display: block;
    grid-column-start:2;
}
#arrowLeft {
    position: relative;
    width: 100%;
    height: 400px;
    margin: 20px auto;
    background-color: #e0e0e0;
    border: 1px solid #333;
    overflow: hidden;
    display: block;
    grid-column-start: 1;
}
#arrowRight {
    position: relative;
    width: 100%;
    height: 400px;
    margin: 20px auto;
    background-color: #e0e0e0;
    border: 1px solid #333;
    overflow: hidden;
    display: block;
    grid-column-start: 3;
}
