
body {
    font-family: sans-serif;
    text-align: center;
}

#gameArea {
    position: relative;
    width: 600px;
    height: 400px;
    margin: 20px auto;
    background-color: #e8d47e;
    border: 2px solid #333;
    overflow: hidden;
}

#player {
    position: absolute;
    width: 32px;
    height: 32px;
    background-image: url('images/stickman-green.png');
    background-size: cover;
    top: 360px;
    left: 284px;
}

.wave {
    position: absolute;
    width: 64px;
    height: 64px;
    background-image: background-size: cover;
    background-image: url('../images/wave.png');
    top: 0;
}


.life {
    width: 20px;
    height: 20px;
}
