
body {
    background-color: black;
    font-family: 'Press Start 2P', monospace;
    color: #00fff7;
    text-align: center;
}

#gameScreen {
    position: relative;
    width: 600px;
    height: 400px;
    margin: 20px auto;
    background-color: #fa82e4;
    border: 2px solid #333;
    overflow: hidden;
}

#start1BTN  {
    position: relative;
    top: 10px;
    left: 0px;
}

#start2BTN {
    position: relative;
    top: 10px;
    left: 40px;
}

#player {
    position: absolute;
    width: 32px;
    height: 32px;
    background-image: url('../images/stickman-green.png');
    background-size: cover;
    top: 360px;
    left: 284px;
}
#fakePlayer {
    position: absolute;
    width: 32px;
    height: 32px;
    background-image: url('../images/stickman-green.png');
    background-size: cover;
    top: 360px;
    left: 284px;
}

.wave {
    position: absolute;
    width: 520px;
    height: 64px;
    background-image: url('../images/newwave.png');
    background-size: contain;
    top: 0;
}
#fakeWave {
    position: absolute;
    width: 10000px;
    height: 64px;
    background-image: url('../images/newwave.png');
    background-size:contain;
    top: 0;
}


.life {
    width: 20px;
    height: 20px;
}
#timePenalty{
    background-color:red;
}
